<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'create_todo_list' %}">Create Todo List</a>
      </nav>
    </header>
    <main>
      <div>
        <h1>My List</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Items</th>
            </tr>
          </thead>
          {% for list in lists %}
            <tbody>
              <tr>
                <td>
                  <a href="{% url 'todo_list_detail' list.id %}"> {{ list.name }}
                  </td>
                  <td>{{ list.items.all|length }}</td>
                </tr>
              </tbody>
            {% endfor %}
          </table>
        </div>
      </main>
    </body>
  </html>
